.toolbar {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.prompt, .staff, .stepper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

mat-grid-list mat-grid-tile a {
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
}

mat-grid-list mat-grid-tile a img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

mat-grid-list mat-grid-tile a:hover, mat-grid-list mat-grid-tile a:focus {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.staff mat-grid-tile a img {
    width: 250px;
}

#circle {
    border-radius: 50px;
    display: block;
}

.toolbar .row {
    margin: 10px;
}
.toolbar .row a {
    margin: 5px;
    background-color: #f68026;
    color: white;
    border-radius: 50px;
}
.toolbar .row a:hover {
    background-color: #dd550c;
}
.welcome {
    text-align: center;
    width: 70%;
    color: white;
}
.spacer {
    flex: 1 1 auto;
}
.center {
    margin-top: auto;
    margin-bottom: auto;
}
button {
    margin: 5px;
    border-radius: 50px;
    transition: all 280ms;
}
button:hover {
    filter: brightness(90%);
}

@media only screen and (max-width: 1024px) {
    .prompt, .staff, .stepper, .welcome {
        width: 90%;
    } 
}