<span class="header">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="row">
            <img src="../../assets/logo.svg" width="75px" style="margin-left:auto;margin-right:auto;">
            <img src="../../assets/title.png" width="200px">
            <span class="spacer"></span>
            <a mat-raised-button href="https://auburnhacks.com" target="_blank">Homepage</a>
            <a mat-raised-button href="https://registration.auburnhacks.com" target="_blank">Registration</a>
            <a mat-raised-button href="https://crowdforge.io/hackathons/AuburnHacks" target="_blank">Team Building</a>
            <a mat-raised-button href="#schedule">Schedule</a>
        </mat-toolbar-row>
    </mat-toolbar>
</span>

<br>

<span class="welcome">
    <h1 class="title" style="color:white;">Welcome to AuburnHacks Live!</h1>
</span>

<br>

<mat-card class="stepper">
    <mat-card-header>
        <h1 class="title">Information</h1>
    </mat-card-header>
    <mat-horizontal-stepper #stepper>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Important Links</ng-template>
            <p>Slack: <a href="https://auburnhacks.slack.com" target="_blank">auburnhacks.slack.com</a></p>
            <p>Devpost: <a href="https://auburnhacks-2019.devpost.com/" target="_blank">auburnhacks-2019.devpost.com</a></p>
            <p>Team Building: <a href="https://crowdforge.io/hackathons/AuburnHacks" target="_blank">crowdforge.io/AuburnHacks</a></p>
            <p>Jumpstart: <a href="https://jumpstart.me/r/AuburnHacks" target="_blank">jumpstart.me/AuburnHacks</a></p>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Schedule</ng-template>
            <p>Live schedule is given below.</p>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Tasks</ng-template>
            <p>Hacking is great, but do not forget to:</p>
            <mat-checkbox>Eat.</mat-checkbox><br>
            <mat-checkbox>Hydrate.</mat-checkbox><br>
            <mat-checkbox>Sleep.</mat-checkbox><br>
            <mat-checkbox>Repeat!</mat-checkbox>

            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Brainteasers</ng-template>
                <p>Brainteasers will be released every two hours.</p>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>

<br>

<mat-card class="schedule">
    <mat-card-header>
        <h1 class="title">Schedule</h1>
    </mat-card-header>
    <br>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z4" style="margin:auto;">
            <ng-container matColumnDef="eventName">
                <mat-header-cell *matHeaderCellDef>Activity Name</mat-header-cell>
                <mat-cell *matCellDef="let event">{{ event.eventName }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let event">
                    <div [innerHTML]="event.description"></div>
                </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="startTime">
                <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
                <mat-cell *matCellDef="let event">{{ event.startTime | date:'medium' }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="endTime">
                <mat-header-cell *matHeaderCellDef>End Time</mat-header-cell>
                <mat-cell *matCellDef="let event">{{ event.endTime | date:'medium' }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                <mat-cell *matCellDef="let event">{{ event.location }}</mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
        </table>
    </mat-card-content>
</mat-card>
